{% include 'header.html.twig' %}
<div id="pageContainer">
    <table>
    <tr>
        <th>Miniatura</th>
        <th>Znacznik czasu</th>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Ban</th>
    </tr>
    {% for post in postList %}
        <tr>
        <td><img src="{{ post.getFilename() }}" class="thumbnail"></td>
        <td>{{ post.getTimestamp() }}</td>
        <td>{{ post.getTitle() }}</td> 
        <td>{{ post.getAuthorName() }}</td>
        <td><a href="admin/remove/{{ post.getId() }}">
            <button>Ukryj</button>
        </a></td>
        </tr>
    {% endfor %}
    </table>
</div>
{% include 'footer.html.twig' %}